{{- $image_source := partial "image_source.html" . }}
{{- $image_size := partial "image_size.html" $image_source }}

{{- with .Title -}}
<figure>
{{- end -}}

<img src="{{- $image_source.url | safeURL -}}" alt="{{- .Text -}}"
    {{- with $image_size.isSvg }} style="width:100%; height: auto;" {{ end -}}
    {{- with $image_size.width }} width="{{- . -}}" {{ end -}}
    {{- with $image_size.height }} height="{{- . -}}" {{ end -}}
>

{{- if .Title -}}
    <figcaption>
        {{ .Title | .Page.RenderString (dict "display" "block" "markup" "markdown") }}
    </figcaption>
</figure>
{{- end -}}



