<!DOCTYPE html>
<html lang="{{ $.Param "lang" }}">
  <head>
    {{ partial "head.html" . }}
    <link rel="prefetch" href="/images/front-cover.webp" as="image" crossorigin>
    <link rel="preload" as="font" href="/fonts/crimson-text.woff2" type="font/woff2" crossorigin>
  </head>
<body>
  {{ if .Site.Params.christmas }}
    {{ partial "specials/christmas.html"}}
  {{ end}}
  <header>
    {{ partial "header.html" . }}
    {{ partial "default_css.html" }}
  </header>
  <main>
    {{- .Scratch.Set "imageCount" 0 -}}
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
