{{ define "main" }}

    <article class="post">
        <div class="title-group">
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
            {{ with $.Params.date }}
                <div class="date">{{ .Format "Jan 02, 2006" }}</div>
            {{ end }}
        </div>
        <article class="content">
            {{ replaceRE `(?ms)^<section class="footnotes" role="doc-endnotes">\s*(.*)\s</section>` "$1" .Content | safeHTML }}
        </article>
        {{ with .Params.tags }}
            <div class="tags">
                <span title="Tags">🏷</span>
                {{ range . }}
                    {{ with $.Site.GetPage (printf "/tags/%s" ( . | urlize)) }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </article>

{{ end }}