<div
  style="
    background: #131a3a;
    height: 48px;
    width: 100%;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    display: grid;
  "
>
  <div style="grid-column: 3/-3; position: relative">
    <img
      src="/images/moon-fes.webp"
      height="48px"
      width="256px"
      style="position: absolute; right: 0; top: 0"
    />
    <span style="position: absolute; font-weight: 700; borderWidth: 1px; borderColor: #131a3a; top: 12px; font-family: 'Fira Code'; color: #f1f49e; filter: drop-shadow(0px 0px 8px #3eb659)"
      >Happy Mooncake Festival!</span
    >
  </div>
</div>

