:root {
  --color: #af3000;
  --color-accent: #af300015;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-bg-secondary: #faebe6;
  --color-text-secondary: #420c00;
  --color-secondary-accent: #ff000015;
  --color-link: #af3000;
  --color-shadow: #f4f4f4;
  --color-table: #af3000;
  --color-head: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #f5713e;
    --color-accent: #f5713e15;
    --color-bg: #161616;
    --color-text: #ffffff;
    --color-bg-secondary: #291f1b;
    --color-text-secondary: #ffdcc2;
    --color-secondary-accent: #ff000015;
    --color-link: #f5713e;
    --color-shadow: #f4f4f4;
    --color-table: #f5713e;
  }
}
