:root {
  --accent: #af3000;
  --bg: #fafafa;
  --text: #000000;
  --bg-alt: #f6e5df;
  --text-alt: #3D405B;
  --bg-attention: #C6FED2;
  --code: #1A2D29;
  --link: #AF3000;
  --shadow: #1E212B;
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent: #f4704c;
    --bg: #191919;
    --text: #ffffff;
    --bg-alt: #2e221e;
    --text-alt: #bcc1e2;
    --bg-attention: #002c0a;
    --code: #d3eae5;
    --link: #f4704c;
    --shadow: #e9eefc;
  }
}
