:root {
  --color: #af2f00;
  --color-accent: #af2f0015;
  --color-bg: #f9f9f9;
  --color-text: #000000;
  --color-bg-secondary: #f4e5e1;
  --color-text-secondary: #410c00;
  --color-secondary-accent: #ff000015;
  --color-link: #af2f00;
  --color-shadow: #f4f4f4;
  --color-table: #af2f00;
  --color-head: #f9f9f9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #f5714d;
    --color-accent: #f5714d15;
    --color-bg: #1a1a1a;
    --color-text: #ffffff;
    --color-bg-secondary: #2d2320;
    --color-text-secondary: #ffdbc7;
    --color-secondary-accent: #ff000015;
    --color-link: #f5714d;
    --color-shadow: #f4f4f4;
    --color-table: #f5714d;
  }
}
