:root {
  --width-content: 80ch;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr calc(min(var(--width-content), 100%)) 1fr;
  justify-items: stretch;
  line-height: 1.6;
  font-family: 'Noto Serif', 'Noto Sans CJK SC', serif;
  background-color: var(--bg);
  color: var(--text);
}

body>* {
  grid-column: 2;
  margin: 0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.icon-prefix {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.5ch;
}

.icon-prefix::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: cover;
  -webkit-mask-size: cover;
  vertical-align: middle;
  background-color: var(--text);
}

.post-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  row-gap: 2em;
  align-items: baseline;
}

.post-time {
  font-family: monospace;
}

.post-list-item {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;

  a {
    font-weight: bolder;
  }
}

.paginator {
  margin: 0;
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-self: center;
}

.goatcounter {
  max-height: 1px;
  max-width: 1px;
}

.status-card {
  border-left: solid 1px var(--accent);
  padding-left: 1em;
  max-width: 48ch;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1em;

  p:last-child {
    margin-bottom: 0;
  }
}

.status-time {
  color: var(--text-alt);
  font-weight: normal;
  font-family: monospace;
}

.status-container {
  display: grid;
  row-gap: 2em;
  justify-items: stretch;
  align-self: center;
  padding-bottom: 1em;
}


.card {
  background-color: var(--bg-alt);
  padding: 2ch;
}