header {
  display: grid;
  padding: 0;
  grid-template-rows: auto auto;
  justify-items: stretch;
  grid-column: 1 / -1;

  a {
    color: var(--text);
    text-decoration: none;
    font-weight: normal;
    margin: 0;
    padding: 0 2px 0 2px;
  }

  .site-title {
    font-size: 3em;
    text-align: center;
    background: url(/images/front-cover.webp) no-repeat;
    background-size: cover;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 3ch;
    text-transform: uppercase;
    margin: 0;

    border-top: solid 1px var(--text);
    border-bottom: solid 2px var(--text);

    padding-top: 2px;
    padding-bottom: 2px;

    a::before {
      content: "<";
      color: transparent;
    }

    a.current::before {
      content: "<";
      color: var(--accent);
      text-align: center;
    }

    a::after {
      content: ">";
      color: transparent;
    }

    a.current::after {
      content: ">";
      color: var(--accent);
      text-align: center;
    }
  }
}