.brand-github::before {
  mask: url(/icons/brand-github.svg);
}
.calculator::before {
  mask: url(/icons/calculator.svg);
}
.calendar-event::before {
  mask: url(/icons/calendar-event.svg);
}
.clock::before {
  mask: url(/icons/clock.svg);
}
.mail::before {
  mask: url(/icons/mail.svg);
}
.rss::before {
  mask: url(/icons/rss.svg);
}
.tags::before {
  mask: url(/icons/tags.svg);
}
