.icon-prefix.brand-github::before {
  mask-image: url(/icons/brand-github.svg);
  -webkit-mask-image: url(/icons/brand-github.svg);
}
.icon-prefix.calculator::before {
  mask-image: url(/icons/calculator.svg);
  -webkit-mask-image: url(/icons/calculator.svg);
}
.icon-prefix.calendar-event::before {
  mask-image: url(/icons/calendar-event.svg);
  -webkit-mask-image: url(/icons/calendar-event.svg);
}
.icon-prefix.clock::before {
  mask-image: url(/icons/clock.svg);
  -webkit-mask-image: url(/icons/clock.svg);
}
.icon-prefix.mail::before {
  mask-image: url(/icons/mail.svg);
  -webkit-mask-image: url(/icons/mail.svg);
}
.icon-prefix.rss::before {
  mask-image: url(/icons/rss.svg);
  -webkit-mask-image: url(/icons/rss.svg);
}
.icon-prefix.tags::before {
  mask-image: url(/icons/tags.svg);
  -webkit-mask-image: url(/icons/tags.svg);
}
.icon-prefix.document::before {
  mask-image: url(/icons/document.svg);
  -webkit-mask-image: url(/icons/document.svg);
}
