/* Layout, sizing, margins */

body {
  padding: 0;
  margin: 0;
  min-height: 100vh; 

  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-wrap: anywhere;
}

body>main {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(min(60ch, 92vw));
}

body>header {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: stretch;

  nav {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 2px;
  }
}

#site-title {
  text-align: center;
  padding: 0.2em;
}

#metadata {
  display: flex;
  flex-flow: row wrap;
  column-gap: 2em;
  row-gap: 0.5em;
  font-size: 0.95em;
  margin-bottom: 1em;
}

body>footer {
  margin-top: 2em;
  display: grid;
  justify-items: center;
  gap: 0.5em;
  padding: 0.5em;

  nav {
    display: flex;
    column-gap: 2em;
    row-gap: 0.5em;
    justify-content: center;
    flex-flow: row wrap;
  }
}

p, ul, ol, div.highlight, div.table-wrapper, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

blockquote {
  border-left: solid 2px var(--accent);
  margin-left: 0;
  padding-left: 1em;

  p, ul, ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

hr {
  width: 33%;
  margin: 2em auto;
}

h1 {
  text-align: center;
}

.post-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  row-gap: 2em;
  align-items: baseline;
}

img {
  max-width: 100%;
  height: auto;
}

pre  {
  margin: 0;
  overflow-x: auto;
  padding: 1ch;
}

code {
  padding: 0 2px;
}

pre code {
  white-space: pre;
  padding: 0;
}

.table-wrapper, .highlight {
  overflow-x: auto;
}

table {
  width: max-content;
}

td,
th {
  padding: 0.2em 0.4em 0.2em 0.4em;
}

img {
  vertical-align: text-bottom;
}

article>footer {
  margin-bottom: 1em;
  margin-top: 3em;
}

#cc {
  margin: 2em 2ch 0 2ch;
}

.status-container {
  display: grid;
  gap: 2em;
}

.status-card>p {
  margin-bottom: 0;
}

.status-card {
  padding-left: 2ch;
}

code {
  font-size: 0.9em;
}

article>*:first-child {
  margin-top: 2em;
}

figure {
  margin: 1em 0;
  max-width: 100%;
  overflow-x: auto;
}

figcaption {
  color: var(--text-alt);
}

.tag-list {
  display: grid;
  position: absolute;
  row-gap: 1px;
  overflow: hidden;
  z-index: 20;
  margin-top: 1ch;

  a {
    padding: 0.5rem 1rem;
    min-width: 18ch;
    border: none;
  }
}