main {
  a {
    text-decoration: underline;
    font-weight: normal;
    color: var(--link);
    border: 1px solid transparent;
  }

  a:hover {
    background-color: var(--bg-attention);
    opacity: 80%;
  }

  a:active {
    border: solid 1px var(--bg-attention);
    border-style: inset;
    box-shadow: inset 0px 0px 2px 0px var(--accent);
    filter: brightness(85%);
  }

  div.table-wrapper {
    display: block;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
  }

  thead {
    border-bottom: 1px solid var(--text);
    font-weight: 700;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 0.2em 0.4em 0.2em 0.4em;
  }


  article {
    font-size: 1.1em;
    margin: 0;
    display: grid;
    grid-template-columns: 2ch auto 2ch;
    row-gap: 2rem;
    padding: 0;
    align-content: start;

    &>* {
      grid-column: 2;
    }

    dl {
      display: grid;

      dt:not(:first-child) {
        margin-top: 1rem;
      }

      dd {
        color: var(--text-alt);
        margin-left: 0;
      }
    }

    header {
      display: grid;
      row-gap: 1rem;

      h1 {
        text-align: center;
      }

      hr {
        background-color: var(--text);
        width: 33%;
        margin: 1rem auto;
      }

      #metadata {
        color: var(--text-alt);
        font-size: 0.85rem;
        display: flex;
        gap: 2ch;
        flex-flow: row wrap;
        align-items: center;

        span, summary {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
        }

        label {
          display:contents;
        }
        
        svg {
          height: 1em;
        }

        .icon-prefix::before {
          background-color: var(--text-alt);
        }

        .tag-list {
          grid-column: 1 / -1;
          background-color: var(--bg-alt);
          display: grid;
          position: absolute;
          box-shadow: 0px 1px 6px var(--shadow);
          row-gap: 1px;
          overflow: hidden;
          margin-top: 1ch;

          a {
            background-color: var(--bg);
            padding: 0.5rem 1rem;
            color: var(--text-alt);
            text-decoration: none;
            min-width: 18ch;
            border: none;
          }

          a:hover {
            background-color: var(--bg-attention);
            text-decoration: underline;
            border: none;
          }

          a:active {
            box-shadow: none;
            border: none;
          }
        }

        details>summary::after {
          font-family: monospace;
          content: "🞃";
        }

        details[open]>summary::after {
          content: "🞁";
        }
      }

      #metadata-summary {
        font-size: large;
        text-align: center;
        font-weight: bold;
      }
    }

    ul,
    ol {
      display: grid;
      row-gap: 0.5rem;
      padding-left: 1em;
    }

    hr {
      background-color: var(--text);
      width: 33%;
      margin: 1rem auto;
    }


    h2::before {
      content: "## ";
      font-family: monospace;
      color: var(--accent);
    }

    h3::before {
      content: "### ";
      font-family: monospace;
      color: var(--accent);
    }

    h4::before {
      content: "#### ";
      font-family: monospace;
      color: var(--accent);
    }

    h5::before {
      content: "##### ";
      font-family: monospace;
      color: var(--accent);
    }

    h6::before {
      content: "###### ";
      font-family: monospace;
      color: var(--accent);
    }

    /* Quotes */
    blockquote {
      margin: 0;
      border-left: 2px solid var(--accent);
      padding-left: 1ch;
      background-color: var(--bg-alt);
    }

    ul {
      margin: 0;
    }

    code {
      background-color: var(--bg-alt);
      color: var(--code);
      padding: 0 0.5ch 0 0.5ch;
      border-radius: 0.5ch;
    }

    div.highlight {
      max-width: 100%;
      overflow-x: scroll;
    }

    pre {
      font-size: 0.9rem;
      padding: 1rem;

    }

    pre code {
      max-width: none;
      white-space: pre;
      background-color: transparent;
      color: var(--text);
      max-width: 100%;
      padding: 0;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    figure {
      display: grid;
      gap: 0;
      margin: 0;

      figcaption {
        color: var(--text-alt);
        font-size: 0.9em;
      }

    }

    img#cover {
      grid-column: 1 / -1;
      width: 100%;
    }

    footer {
      grid-column: 1 / -1;
      margin-top: 2rem;
      padding: 1rem 2ch 0 2ch;
      border-top: solid 1px var(--text-alt);
      display: grid;
      row-gap: 2rem;
      font-size: 0.9rem;

      #cc {
        font-style: italic;

        img {
          vertical-align: text-bottom;
        }
      }
    }
  }
}