/* Coloring, images, borders, fonts */

body {
  color: var(--text);
  background-color: var(--bg);

  font-family: "Crimson Text", "Noto Sans SC", serif;
  font-size: calc(max(1rem, min(20px, 4vw)));
  text-rendering: optimizeLegibility;

  // Workaround for iOS bug: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
  text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;

  a {
    color: var(--link);
  }

  a:hover {
    background-color: var(--accent-bg);
  }
}

body>header,
body>footer {
  border-top: 1px solid var(--border);
  border-bottom: 1.7px solid var(--border);

  a {
    text-decoration: none;
    color: var(--text);
  }
}

#site-title,
body>footer {
  background: url(/images/front-cover.webp) no-repeat;
  background-size: cover;
  background-color: var(--bg);
}

body>header a::before {
  content: "\00a0";
  font-family: "Fira Code";
  color: var(--accent);
}

body>header a::after {
  content: "\00a0";
  font-family: "Fira Code";
  color: var(--accent);
}


body>header a.current::before {
  content: "<";
}


body>header a.current::after {
  content: ">";
}

#site-title {
  font-size: 2.4em;
  border-bottom: solid 1px var(--border);
}

#metadata {
  font-size: 0.8em;
  font-family: sans-serif;
}

.tag {
  margin-right: 4px;
}

.tag::before {
  content: "#";
}

.icon-prefix::before {
  content: "";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  mask-size: cover;
  -webkit-mask-size: cover;
  vertical-align: text-bottom;
  margin: 2px;
  background-color: var(--text);
}

.post-time,
.status-time {
  font-family: "Fira Code";
  font-size: 0.8em;
}

.post-list-item {
  width: 100%;

  a {
    text-decoration: none;
    color: var(--text);
  }

  p {
    font-size: 0.9em;
    line-height: 1.3;
    margin: 0.2em 0 0 0;
    color: var(--text-alt);
  }
}

table {
  border-collapse: collapse;
  border-top: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
}

thead {
  border-bottom: 1px solid var(--text);
  font-weight: 700;
}

article>footer {
  font-size: 0.85em;
  border-top: solid 1px var(--border);
  line-height: 1.2;
}

mark {
  background-color: var(--accent-bg);
}

.status-card {
  border-left: solid 2px var(--accent);
}

nav {
  text-transform: uppercase;
  letter-spacing: 1px;
}

code {
  font-size: 0.8em;
  font-family: "Fira Code";
  background-color: var(--bg-alt);
}

h1, h2, h3 {
  font-weight: normal;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}