#christmas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    flex-flow: column;
    background-color: #D21728;
    color: #fff;
    border-bottom: solid 2px #3F741E;
    border-top: solid 2px #3F741E;
}
