:root{
  --red: oklch(35% 0.14 30);
  --yellow: oklch(35% 0.14 90);
  --green: oklch(35% 0.14 150);
  --cyan: oklch(35% 0.14 210);
  --blue: oklch(35% 0.14 270);
  --violet: oklch(35% 0.14 330);
  --gray: oklch(35% 0.00 0);
}

@media (prefers-color-scheme: dark) {
  :root{
    --red: oklch(80% 0.14 30);
    --yellow: oklch(80% 0.14 90);
    --green: oklch(80% 0.14 150);
    --cyan: oklch(80% 0.14 210);
    --blue: oklch(80% 0.14 270);
    --violet: oklch(80% 0.14 330);
    --gray: oklch(80% 0.00 0);
  }
}

/* LineTableTD */ .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .hl { background-color: #ff880088 }
/* LineNumbersTable */ .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--gray) }
/* LineNumbers */ .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--gray) }
/* Line */ .line { display: flex; }
/* Keyword */ .k { color: var(--blue) }
/* Name */ .n { color: var(--green) }
/* NameAttribute */ .na { color: var(--green) }
/* NameBuiltin */ .nb { color: var(--green) }
/* NameBuiltinPseudo */ .bp { font-style: italic }
/* NameClass */ .nc { color: var(--cyan) }
/* NameConstant */ .no { color: var(--yellow) }
/* NameDecorator */ .nd { color: var(--cyan) }
/* NameEntity */ .ni { color: var(--green) }
/* NameException */ .ne { color: var(--yellow) }
/* NameFunction */ .nf { color: var(--yellow) }
/* NameFunctionMagic */ .fm { color: var(--yellow) }
/* NameLabel */ .nl { color: var(--cyan) }
/* NameNamespace */ .nn { color: var(--cyan) }
/* NameOther */ .nx {  }
/* NameProperty */ .py {  }
/* NameTag */ .nt { color: var(--blue) }
/* NameVariable */ .nv { color: var(--red) }
/* NameVariableClass */ .vc {  }
/* NameVariableGlobal */ .vg { color: var(--yellow) }
/* NameVariableInstance */ .vi {  }
/* NameVariableMagic */ .vm { color: var(--yellow) }
/* Literal */ .l { color: var(--red) }
/* LiteralDate */ .ld {  }
/* LiteralString */ .s { color: var(--red) }
/* LiteralStringAffix */ .sa { color: var(--gray) }
/* LiteralStringBacktick */ .sb { color: var(--red) }
/* LiteralStringChar */ .sc { color: var(--violet) }
/* LiteralStringDelimiter */ .dl { color: var(--yellow) }
/* LiteralStringDoc */ .sd { color: var(--yellow); font-style: italic }
/* LiteralStringDouble */ .s2 { color: var(--red) }
/* LiteralStringEscape */ .se { color: var(--green) }
/* LiteralStringHeredoc */ .sh { color: var(--red) }
/* LiteralStringInterpol */ .si { color: var(--red); text-decoration: underline }
/* LiteralStringOther */ .sx { color: var(--violet) }
/* LiteralStringRegex */ .sr { color: var(--violet) }
/* LiteralStringSingle */ .s1 { color: var(--red) }
/* LiteralStringSymbol */ .ss { color: var(--red) }
/* LiteralNumber */ .m { color: var(--gray) }
/* LiteralNumberBin */ .mb { color: var(--gray) }
/* LiteralNumberFloat */ .mf { color: var(--gray) }
/* LiteralNumberHex */ .mh { color: var(--gray) }
/* LiteralNumberInteger */ .mi { color: var(--gray) }
/* LiteralNumberIntegerLong */ .il { color: var(--gray) }
/* LiteralNumberOct */ .mo { color: var(--gray) }
/* Operator */ .o { color: var(--gray) }
/* OperatorWord */ .ow { color: var(--violet) }
/* Punctuation */ .p { color: var(--gray) }
/* Comment */ .c { color: var(--gray); font-style: italic }
/* CommentHashbang */ .ch { color: var(--cyan); font-style: italic }
/* CommentMultiline */ .cm { color: var(--gray); font-style: italic }
/* CommentSingle */ .c1 { color: var(--gray); font-style: italic }
/* CommentSpecial */ .cs { color: var(--gray); font-style: italic }
/* CommentPreproc */ .cp { color: var(--cyan) }
/* CommentPreprocFile */ .cpf { color: var(--cyan) }
/* Generic */ .g { color: var(--text) }
/* GenericDeleted */ .gd { color: var(--red) }
/* GenericEmph */ .ge { font-style: italic }
/* GenericError */ .gr { color: var(--red) }
/* GenericHeading */ .gh { color: var(--gray) }
/* GenericInserted */ .gi { color: var(--green) }
/* GenericOutput */ .go { color: var(--gray) }
/* GenericPrompt */ .gp { color: var(--gray) }
/* GenericStrong */ .gs { font-weight: bold }
/* GenericSubheading */ .gu { color: var(--gray) }
/* GenericTraceback */ .gt { color: var(--blue) }
/* GenericUnderline */ .gl { text-decoration: underline }
/* TextWhitespace */ .w { color: var(--yellow) }
