/* noto-sans-sc-regular - chinese-simplified */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Noto Sans SC"), url("/fonts/noto-sans-sc.woff2") format("woff2"),
    url("/fonts/noto-sans-sc.woff") format("woff");
}

/* noto-sans-sc-700 - chinese-simplified */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Sans SC"),
    url("/fonts/noto-sans-sc-700.woff2") format("woff2"),
    url("/fonts/noto-sans-sc-700.woff") format("woff");
}

/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Code"), url("/fonts/fira-code.woff2") format("woff2"),
    url("/fonts/fira-code.woff") format("woff");
}

/* bitter */
@font-face {
  font-family: "Bitter Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bitter Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Bitter Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Bitter Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Bitter Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Bitter Pro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Bitter Pro"), url("/fonts/BitterPro-LightItalic.woff2") format("woff2");
}

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"), url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter-Light"), url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter-Bold"), url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Inter-BoldItalic"), url("/fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Italic"), url("/fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Inter-LightItalic"), url("/fonts/Inter-LightItalic.woff2") format("woff2");
}
