@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 200 300 400 500 600 700 800 900;
  src: local("Crimson Pro"), url("/fonts/CrimsonPro[wght].woff2") format("woff2");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 200 300 400 500 600 700 800 900;
  src: local("Crimson Pro"), url("/fonts/CrimsonPro-Italic[wght].woff2") format("woff2");
}

/* noto-sans-sc-regular - chinese-simplified */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+4E00-9FFF, U+3400-4DBF;

  src: local("Noto Sans SC"), url("/fonts/noto-sans-sc.woff2") format("woff2"),
    url("/fonts/noto-sans-sc.woff") format("woff");
}

/* noto-sans-sc-700 - chinese-simplified */
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+4E00-9FFF, U+3400-4DBF;
  src: local("Noto Sans SC"),
    url("/fonts/noto-sans-sc-700.woff2") format("woff2"),
    url("/fonts/noto-sans-sc-700.woff") format("woff");
}

/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Code"), url("/fonts/fira-code.woff2") format("woff2"),
    url("/fonts/fira-code.woff") format("woff");
}
