@import "mvp";
@import "friendly";
@import "color";

@media (prefers-color-scheme: dark) {
  @import "dracula";
}

table tr:nth-child(even) {
  background-color: inherit;
}

:root {
  --width-content: 800px;
  --font-family: sans-serif;
}

a {
  text-decoration: underline dashed;
}

/* Quotes */
blockquote {
  font-size: inherit;
  border-left: 2px solid var(--color-accent);
  margin: inherit;
  padding: 1px 1px 1px 16px;
  text-align: inherit;
  max-width: inherit;
  background-color: var(--color-accent);
}

code {
  background-color: inherit;
}

/* Customizations */
.social-icon {
  width: 0.9em;
  vertical-align: baseline;
}

header {
  background: url(/images/front-cover-bw-inverted.png) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #111;
  padding: 2em;
  min-height: 12em;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  color: var(--color-head);

  a {
    color: var(--color-head);
    text-decoration: none;
  }

  h1 {
    margin-left: auto;
    margin-top: auto;
    width: fit-content;
  }

  nav {
    justify-content: flex-end;
    margin-bottom: 1em;
    flex-wrap: wrap;

    span {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

.about {
  background-color: var(--color-accent);
  border-radius: 1em;
  padding-bottom: 1em;
  padding-top: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--width-card-wide);
  margin-left: auto;
  margin-right: auto;

  p {
    width: fit-content;
    margin: 1em;
  }

  div {
    display: flex;
    align-items: baseline;
    span {
      margin: 1em;
    }
  }
}

.post-list {
  padding-top: 2em;
}

.paginator {
  margin: 0;
  margin-top: 3em;
  .newer {
    float: right;
    clear: both;
  }
}

.tags {
  font-size: 0.9em;
  display: flex;
  align-items: baseline;
  margin-top: 50px;
  flex-wrap: wrap;

  a {
    background-color: var(--color-accent);
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
  }
}

sup {
  background-color: var(--color-bg-secondary);
}

.read-more {
  padding-top: 1em;
}

.date {
  font-weight: 600;
  padding-bottom: 1em;
}

code {
  background-color: var(--color-accent);
}

pre code {
  overflow-x: auto;
  max-width: none;
  white-space: pre;
  background-color: transparent;
  padding: 1em;
}

pre {
  padding: 0;
}

.goatcounter {
  max-height: 1px;
  max-width: 1px;
}