/* Reset */
* {
  padding: 0;
  margin: 0;
  accent-color: var(--accent);
}

/* Layout and Typography */
body {
  font-family: "Crimson Text", "Noto Sans SC", serif;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility;

  /* Workaround for iOS bug: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  min-height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 8px min(68ch, 100vw - 16px) 8px 1fr;
  overflow-wrap: anywhere;
  row-gap: 16px;

  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 1cap;
}

a {
  color: var(--accent);
}

body > header, body > main, body > footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  max-width: 100%;
  align-content: start;
}

article {
  margin: auto;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  row-gap: 1em;
  padding: 1em 0;
  max-width: 100%;
}

article > * {
  grid-column: 3;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* Code blocks */
.highlight {
  padding: 8px;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  background-color: var(--background-alt);
}

code {
  white-space: pre;
  font-size: 0.7em;
  padding: 0;
}

/* Filling containers */
.highlight, .table-wrapper, figure {
  width: 100%;
}

@media (max-width: 68ch) {
  .highlight, .table-wrapper, figure {
    grid-column: 2 / 4;
  }
}

/* Possibly overflowing content */
.highlight, .table-wrapper {
  overflow-x: auto;
}

/* Fix list indentation */
ol, ul {
  padding-left: revert;
}

li {
  margin: 0.5em 0;
}

/* Table */
table {
  min-width: 100%;
  border-top: 1.5px solid var(--text);
  border-bottom: 1.5px solid var(--text);
  border-collapse: collapse;
  width: max-content;
}

thead {
  border-bottom: 1px solid var(--text);
}

td, th {
  padding: 4px 8px;
  text-align: left;
}

.table-align-left {
  text-align: left;
}
.table-align-right {
  text-align: right;
}
.table-align-center {
  text-align: center;
}

hr {
  border-color: var(--border);
  border-width: 0.2px;
  width: 61.8%;
  justify-self: center;
}

figcaption {
  color: var(--text-alt);
  font-size: 1rem;
}


/* Specific tweaks for non-standard elements */
body > header, body > footer, nav-link {
  background-color: var(--background-alt);
  color: var(--text-alt);
}

.site-title {
  font-size: 2rem;
  margin-right: auto;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  gap: 2px;
  padding: 0 2px;
}

/* Links for nav bar */
.nav-link {
  text-decoration: none;
  text-align: center;
  color: var(--text-alt);
}

.nav-link::before {
  content: "<";
  padding-right: 4px;
  color: transparent;
}

.nav-link::after {
  content: ">";
  padding: 4px;
  color: transparent;
}

.current::before {
  color: var(--accent);
}

.current::after {
  color: var(--accent);
}

/* icon in the footer */
.icon {
  height: 1cap;
  width: 1cap;
}

/* Foot notes */
article > footer {
  border-top: 1px solid var(--text);
  padding: 1em 0;
  font-size: 1rem;
}

.post-list {
  display: grid;
  gap: 1em;
  grid-template-columns: auto 1fr;
}

.post-item {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: baseline;
}

.post-item-time {
  grid-column: 1;
  font-size: 1rem;
}

.post-item-title {
  color: var(--text);
  grid-column: 2;
  text-decoration-color: var(--translucent);
}

.post-item-summary {
  grid-column: 2;
  color: var(--text-alt);
  font-style: italic;
  font-size: 1rem;
}

h1, #title-subtitle {
  text-align: center;
}
#title-subtitle {
  color: var(--text-alt);
  font-style: italic;
}

footer > article {
  justify-items: center;
}

