@import "mvp";
@import "friendly";
@import "color";
@import "icons";

@media (prefers-color-scheme: dark) {
  @import "dracula";
}

table tr:nth-child(even) {
  background-color: inherit;
}

:root {
  --width-content: 800px;
  --font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr calc(min(800px, 90%)) 1fr;
  justify-items: stretch;
}

a {
  text-decoration: underline dashed;
  font-weight: normal;
}

body > * {
  grid-column: 2;
  margin: 0;
}

article {
  font-family: serif;
  font-size: 1.3em;
  margin: 0;

  h1 {
    text-align: center;
  }

  h2::before {
    content: "## ";
    font-family: monospace;
    color: var(--color-text-secondary)
  }

  h3::before {
    content: "## ";
    font-family: monospace;
    color: var(--color-text-secondary)
  }

  h4::before {
    content: "## ";
    font-family: monospace;
    color: var(--color-text-secondary)
  }

  h5::before {
    content: "## ";
    font-family: monospace;
    color: var(--color-text-secondary)
  }

  td {
    white-space: normal;
  }

  p {
    margin: 0.7em 0;
  }

  li {
    padding: 0;
  }

  /* Quotes */
  blockquote {
    font-size: inherit;
    border-left: 2px solid var(--color-accent);
    margin: inherit;
    padding: 1px 1px 1px 16px;
    text-align: inherit;
    max-width: inherit;
    background-color: var(--color-accent);
  }

  code {
    background-color: var(--color-accent);
  }

  pre code {
    overflow-x: auto;
    max-width: none;
    white-space: pre;
    background-color: transparent;
    padding: 1em;
  }

  pre {
    padding: 0;
  }

  sup {
    background-color: var(--color-bg-secondary);
  }
}

header {
  --color-text: var(--color-head);
  --color-link: var(--color-head);

  background: url(/images/front-cover-bw-inverted.png) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #111;
  padding: 2em;
  margin: 0;
  border-bottom: 1px solid #555;
  
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: normal;
  }

  h1 {
    width: fit-content;
    margin: 0;
  }

  nav {
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 0;

    a {
      margin: 1em;
    }
  }
}

footer {
  --color-text: var(--color-head);
  --color-link: var(--color-head);

  background: url(/images/front-cover-bw-inverted.png) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #111;
  background-position: bottom;

  color: var(--color-text);
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1em;
  border-top: 1px solid #555;

  h2,
  p {
    margin: 0;
  }

  section {
    display: grid;
    justify-content: left;
  }
}

.icon-prefix::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: cover;
  -webkit-mask-size: cover;
  vertical-align: middle;
  background-color: var(--color-text);
  margin-right: 0.5em;
}

.post-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.paginator {
  margin: 0;
  margin-top: 3em;
  .newer {
    float: right;
    clear: both;
  }
}

.metadata {
  --color-text: var(--color-text-secondary);
  font-weight: normal;
  padding-bottom: 1em;
  font-family: monospace;
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;

  span {
    align-items: center;
    display: flex;
  }
}

.goatcounter {
  max-height: 1px;
  max-width: 1px;
}

.title-line {
  background-color: var(--color-text);
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2em;
}
