/* Reset */
* {
  padding: 0;
  margin: 0;
  accent-color: var(--accent);
}

/* Layout and Typography */
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: "Bitter Pro", "Noto Sans SC", serif;
  font-size: 1.1rem;
  text-rendering: optimizeLegibility;

  /* Workaround for iOS bug: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 8px minmax(0px, 600px) 8px auto;
  overflow-wrap: anywhere;

  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1cap;
}

a {
  color: var(--accent);
  text-decoration-thickness: 0.7px;
}

body > header,
body > main,
body > footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  max-width: 100%;
  align-content: start;
}

article {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  row-gap: 1em;
  padding: 1em 0;
  max-width: 100%;
}

article > * {
  grid-column: 3;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

kbd {
  border: 0.5px solid var(--border);
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 1px 1px 0 1px var(--border);
}

/* Code blocks */
.highlight {
  padding: 8px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--background-alt);
}

code {
  white-space: pre;
  font-size: 0.9em;
  background-color: var(--background-alt);
  padding: 0 0.5ch;
  font-family: "Fira Code", monospace;
  text-wrap: balance;
}

pre code {
  padding: 0;
  text-wrap: nowrap;
}

/* Figure */
figure {
  display: grid;
  grid-template-columns: subgrid;
}

figure > img {
  grid-column: 1 / -1;
}

figcaption {
  grid-column: 2;
  font-family: "Inter", "Noto Sans SC", sans-serif;
  color: var(--text-alt);
  font-size: 0.9rem;
  font-weight: 300;
}

/* Filling containers */
@media (max-width: 616px) {
  .highlight,
  .table-wrapper,
  figure {
    grid-column: 2 / 5;
  }
}

/* Possibly overflowing content */
.highlight,
.table-wrapper {
  overflow-x: auto;
}

/* Fix list indentation */
ol,
ul {
  padding-left: revert;
}

li {
  margin: 0.5em 0;
}

/* Table */
table {
  min-width: 100%;
  border-top: 1.5px solid var(--border);
  border-bottom: 1.5px solid var(--border);
  border-collapse: collapse;
  width: max-content;
}

thead {
  border-bottom: 1px solid var(--border);
}

td,
th {
  padding: 4px 8px;
  text-align: left;
}

.table-align-left {
  text-align: left;
}
.table-align-right {
  text-align: right;
}
.table-align-center {
  text-align: center;
}

hr {
  border-color: var(--border);
  border-width: 0.2px;
}

dt {
  margin-top: 0.5em;
}

dd {
  padding-left: 16px;
}

dd::before {
  content: " ¦ ";
  color: var(--text-alt);
}

blockquote {
  margin: 0 20px;
}

/* Specific tweaks for non-standard elements */
body > header,
body > footer {
  background-color: var(--background-alt);
  color: var(--text-alt);
}

.site-title-text {
  font-size: 1.8rem;
  text-decoration: none;
  background-image: linear-gradient(
    6deg,
    var(--accent) 0%,
    var(--accent) 50%,
    var(--primary) 50%,
    var(--primary) 100%
  );
  color: transparent !important;
  background-clip: text;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  row-gap: 0;
  column-gap: 18px;
  padding: 0 2px;
}

.site-title-fill {
  flex-grow: 1;
}

.site-nav details[open] {
  display: contents;
}

header {
  transition: background-color 0.2s;
}

header:has(.site-nav details[open]) {
  background-color: oklch(from var(--background-alt) calc(l * 0.95) c h);
  transition: background-color 0.2s;
}

.site-nav .site-title-more {
  padding: 8px;
  flex-basis: 100%;
  display: flex;
  background-color: var(--background-alt);
  flex-flow: column;
  align-items: end;
  /* box-shadow: 7px 13px 0px 0px rgba(0, 0, 0, 0.34); */
  border-top: 1px dashed var(--border);
  border-bottom: 1px dashed var(--border);
}

.site-nav details summary {
  color: var(--accent);
  transition: all 0.2s ease-out;
}

.site-nav details summary svg {
  transition: all 0.2s ease-out;
}

.site-nav details[open] summary svg {
  transform: rotate(45deg);
}

.site-nav details summary::marker {
  content: none;
  display: none;
}

.site-nav details summary::-webkit-details-marker {
  display: none;
}

.site-nav details a {
  flex-basis: 100%;
  text-align: end;
}

/* icon in the footer */
.icon {
  height: 1cap;
  width: 1cap;
}

/* Foot notes */
article > footer {
  gap: 1em;
  display: grid;
  border-top: 1px solid var(--border);
  padding: 1em 0;
  font-size: 0.9rem;
}

.post-list {
  display: grid;
  gap: 1em;
  grid-template-columns: auto 1fr;
}

.post-item {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: baseline;
  row-gap: 8px;
}

.post-item-time {
  grid-column: 1;
  font-size: 0.9rem;
  color: var(--text-alt);
}

.post-item-title {
  color: var(--text);
  grid-column: 2;
  text-decoration: none;
}

.post-item-summary {
  grid-column: 2;
  font-weight: 300;
  font-size: 0.9rem;
}

#title-subtitle {
  font-weight: 300;
}

.metadata {
  color: var(--text-alt);
  font-family: "Inter", "Noto Sans SC", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

footer > article {
  justify-items: center;
}

body > header {
  border-bottom: 1px solid var(--border);
}
body > footer {
  border-top: 1px solid var(--border);
}

#refs {
  font-size: 1rem;
}

.csl-entry {
  margin-top: 16px;
  text-indent: 2em hanging;
  text-wrap: balance;
}

.citation {
  font-style: italic;
}

/* Animation Target */
@keyframes blinkbackground {
  from {
    background-color: var(--accent);
  }
  to {
    background-color: var(--translucent);
  }
}

*:target {
  animation-name: blinkbackground;
  animation-duration: 1s;
}

*:target::before {
  content: ">";
  margin-left: -8px;
  margin-right: 0;
  font-family: "Fira Code", monospace;
  font-size: 8px;
  vertical-align: middle;
  color: var(--accent);
}
