* {
  padding: 0;
  margin: 0;
  accent-color: var(--accent);
}

body {
  font-family: "Crimson Text", "Noto Sans SC", serif;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility;

  /* Workaround for iOS bug: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-wrap: anywhere;

  color: var(--text);
  background-color: var(--background);
}


::selection {
  background: var(--translucent);
}

article {
  width: 68ch;
  max-width: calc(100vw - 32px);
  margin: auto;
  display: grid;
  row-gap: 1em;
  padding: 32px 0;
}

article > * {
  max-width: 100%;
  overflow-x: auto;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-transform: uppercase;
  padding: 2px;
  column-gap: 1em;
  row-gap: 0.5em;
}

.social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 1em;
  row-gap: 0.5em;
}

.social {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: var(--text);
}

header {
  border-bottom: 1.7px solid var(--text);
}

.bg-cover {
  background: url(/images/c.webp) no-repeat;
  background-size: cover;
  background-color: var(--background);
}

body > footer {
  border-top: 1px solid var(--text);
  margin-top: 2em;
  display: grid;
  justify-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

.site-title {
  font-size: 2.4em;
  border-bottom: solid 1px var(--text);
}

header {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: stretch;
  color: var(--text);
  text-align: center;
}

p,
ul,
ol,
.chroma,
div.table-wrapper,
blockquote {
  line-height: 1.4;
}

ul,
ol {
  padding-left: 18px;
}

blockquote {
  border-left: solid 2px var(--translucent);
  margin-left: 0;
  padding-left: 1em;
}

hr {
  width: 33%;
  margin: 1em auto;
  border: none;
  background-color: var(--text_alt);
  height: 1px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

img,
.chroma {
  border-radius: 5px;
}

code {
  padding: 0 2px;
}

.chroma {
  padding: 8px;
  background-color: var(--background_alt);
  border: 1px solid var(--accent);
  width: fit-content;
  min-width: 100%;
  box-sizing: border-box;
}

pre code {
  white-space: pre;
  font-size: 0.7em;
  padding: 0;
}

table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
}

td,
th {
  padding: 0.2em 0.4em 0.2em 0.4em;
}

dt {
  margin-top: 1em;
}

#post-main > p:first-of-type {
  /* So that Dropped capital letter don't make a scrollbar in chrome & safari */
  overflow-y: clip; 
}

#post-main > p:first-of-type:first-letter {
  font-size: 5em;
  color: var(--accent);
  text-indent: 0;
  float: left;
  line-height: 0.7em;
  margin: 0.1em 0.1em 0 0;
}

article > footer {
  margin: 3em 0 1em 0;
  display: grid;
  flex-flow: column;
  row-gap: 1em;
  font-size: 0.85em;
  border-top: solid 1px var(--text);
  padding: 1em 0 1em 0;
}

code {
  font-size: 0.9em;
}

figure {
  max-width: 100%;
  overflow-x: auto;
}

figcaption {
  color: var(--text_alt);
  font-size: 0.9rem;
}

.nav-link::before {
  content: "\00a0";
  font-family: "Fira Code";
  color: var(--accent);
}

.nav-link::after {
  content: "\00a0";
  font-family: "Fira Code";
  color: var(--accent);
}

.nav-link.current::before {
  content: "<";
}

.nav-link.current::after {
  content: ">";
}

code {
  font-size: 0.8em;
  font-family: "Fira Code";
  border-radius: 5px;
  background-color: var(--background_alt);
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

thead {
  border-bottom: 1px solid var(--text);
  font-weight: 700;
}


a {
  color: var(--accent);
}

a:hover {
  background-color: var(--translucent);
}

mark {
  background-color: var(--translucent);
  color: var(--text);
}

dt::first-letter {
  font-size: 1.5rem;
}

.metadata {
  display: flex;
  text-transform: uppercase;
  flex-flow: row wrap;
  column-gap: 1em;
  font-size: 12px;
  font-family: "Fira Code";
  color: var(--gray);
}

.post-list {
  display: grid;
  row-gap: 2em;
}

.post-item {
  display: grid;
  row-gap: 4px;
}

.post-item-title {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--text);
}

.post-item-summary {
  margin: 0;
  color: var(--text_alt);
  font-size: 0.95em;
}

.status-container {
  display: grid;
  gap: 1em;
}

.status-card > p {
  margin-bottom: 0;
}

.status-card {
  border-top: solid 1px var(--accent);
  background-color: var(--background_alt);
  padding: 8px;
}

.inline-icon {
  height: 1em;
  vertical-align: text-top;
}

.table-align-left {
  text-align: left;
}

.table-align-right {
  text-align: right;
}

.table-align-center {
  text-align: center;
}

#title-subtitle {
  font-size: 1.2em;
  color: var(--text_alt);
  text-align: center;
}

.tag {
  background-color: var(--background_alt);
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}