/* Coloring, images, borders, fonts */

@import "color";
@import "codescheme";

body {
  color: var(--text);
  background-color: var(--background);
}

a {
  color: var(--accent);
}

a:hover {
  background-color: var(--translucent);
}

body > header,
body > footer {
  background: url(/images/front-cover.webp) no-repeat;
  background-size: cover;
  background-color: var(--background);

  a{
    color: var(--text);
  }
}

header nav {
  background-color: var(--background);
}

mark {
  background-color: var(--translucent);
  color: var(--text);
}