{{ define "main" }}
<article class="post">
  <h1>{{ .Title }}</h1>
  {{ $time := .Params.date }}
  <hr class="title-line" />
  <div class="metadata">
    <span class="icon-prefix calendar-event">{{ $time.Format "2006-01-02" }}</span>
    <span class="icon-prefix calculator">{{ .WordCount }} words</span>
    <span class="icon-prefix clock">{{ .ReadingTime }} minutes read</span>
    
    {{ with .Params.tags }}
    <span class="icon-prefix tags">
      <div class="tag-list">
        {{ $links := apply . "partial" "tag_link.html" "." }}
        {{ $clean := apply $links "chomp" "." }}
        {{ delimit $clean " " }}
      </div>
    </span>
    {{ end }}
  
  </div>

  {{ $re_foot_notes := `(?ms)^<section class="footnotes" role="doc-endnotes">\s*(.*)\s</section>` }} 
  
  {{ replaceRE $re_foot_notes "$1" .Content | safeHTML }} 
</article>

{{ end }}
