{{ define "main" }}
<article id="post-main">
  {{- partial "article_header.html" . -}}

  {{- partial "metadata.html" . -}}

  {{- partial "hacks.html" . }}

  {{ with .Params.commentid }}
    <a href="https://c.im/@powersnail/{{ . }}">Make a comment on Mastodon</a>
  {{ end }}
  
  {{ with .Params.tags }}
  <div>
    {{ $links := apply . "partial" "tag_link.html" "." }}
    {{ $clean := apply $links "chomp" "." }}
    {{ delimit $clean " " }}
  </div>
  {{ end }}
  
  <footer>
    {{- partial "footnotes.html" .Content -}}
    {{ partial "cc.html" . }}
  </footer>
</article>

{{ end }}
