{{ define "main" }}
<article>
  {{- partial "article_header.html" . -}}


  <div id="metadata">
    <span class="icon-prefix calendar-event">
      {{ .Params.date.Format "2006-01-02" }}
    </span>

    <span class="icon-prefix calculator">    
      {{ .WordCount }} words
    </span>

    <span class="icon-prefix clock">
      {{ .ReadingTime }} minutes read
    </span>
  </div>

  {{- partial "hacks.html" . }}
  
  {{ with .Params.tags }}
  <div>
    {{ $links := apply . "partial" "tag_link.html" "." }}
    {{ $clean := apply $links "chomp" "." }}
    {{ delimit $clean " " }}
  </div>
  {{ end }}
  
  <footer>
    {{- partial "footnotes.html" .Content -}}
    {{ partial "cc.html" . }}
  </footer>
</article>

{{ end }}
