<h1>
  {{ if eq .Kind "term" }}
    <a href="/tags/">Tags /</a>
  {{ end }}
  {{ .Title | .RenderString }}
  {{ partial "draft.html" .}}
</h1>

{{ if isset .Params "subtitle" }}
  <div id="title-subtitle">{{ .Params.subtitle | .RenderString }}</div>
{{ end }}

<hr />

<div id="metadata">

  {{ if and (eq .Kind "page") (eq .Section "posts") }}
  {{ $time := .Params.date }}

  <span class="icon-prefix calendar-event">
    {{ $time.Format "2006-01-02" }}
  </span>

  <span class="icon-prefix calculator">    
    {{ .WordCount }} words
  </span>

  <span class="icon-prefix clock">
    {{ .ReadingTime }} minutes read
  </span>
  {{ end }}
  
  {{ with .Params.tags }}
  <span class="icon-prefix tags">
    {{ $links := apply . "partial" "tag_link.html" "." }}
    {{ $clean := apply $links "chomp" "." }}
    {{ delimit $clean " " }}
  </span>
  {{ end }}
</div>
