<header>
  <h1>
    {{ if eq .Kind "term" }}
    <a href="/tags/">Tags /</a>
    {{ end }}
    {{ .Title }}
    {{ if .Paginator }}
    {{ if ne .Paginator.PageNumber 1 }}
    <small>/ Page {{.Paginator.PageNumber}}</small>
    {{ end }}
    {{ end }}
    {{ if isset .Params "description"  }}
      <div id="summary">{{ .Params.description }}</div>
    {{ end }}
  </h1>
  <hr/>

  <div class="metadata">
    {{ if and (eq .Kind "page") (eq .Section "posts") }}
      {{ $time := .Params.date }}
      <span class="icon-prefix calendar-event">{{ $time.Format "2006-01-02" }}</span>
      <span class="icon-prefix calculator">{{ .WordCount }} words</span>
      <span class="icon-prefix clock">{{ .ReadingTime }} minutes read</span>
    
      {{ with .Params.tags }}
        <div class="tag-list">
          {{ $links := apply . "partial" "tag_link.html" "." }}
          {{ $clean := apply $links "chomp" "." }}
          {{ delimit $clean " " }}
        </div>
      {{ end }}
    {{ end }}
  </div>


</header>

{{ if and (isset .Params "images") (gt (len .Params.images) 0) }}
<img id="cover" src="{{ index .Params.images 0 }}">
{{ end }}