{{ $re_foot_notes := `(?ms)^<div class="footnotes" role="doc-endnotes">\s*<hr>\s*(.*)\s</div>` }} 
{{ $re_table := "(<table>(?:.|\n)+?</table>)" }} 
{{ $re_code_block_tabindex := `(<pre )(tabindex="0")` }} 
{{ $re_table_align := `<(t[hd]) style="text-align:(.*)">` }}

{{- return (
    .Content 
    | replaceRE $re_table "<div class=\"table-wrapper\"> ${1} </div>" 
    | replaceRE $re_foot_notes ""
    | replaceRE $re_code_block_tabindex "${1}"
    | replaceRE $re_table_align "<${1} class=\"table-align-${2}\">"
    | safeHTML) 
-}}
