  <div id="site-title" >
    <a href="{{ .Site.BaseURL }}"
      {{ if eq .RelPermalink "/" }}
        class="current"
      {{ end }}
    >{{ .Site.Title }}</a>
  </div>
<nav>
  <a type="button" href="/posts/"
    {{ if eq .RelPermalink "/posts/" }}
      class="current"
    {{ end }}
  >Posts</a>
  <a type="button" href="/status/"
  {{ if eq .RelPermalink "/status/" }}
    class="current"
  {{ end }}
  >Status</a>
  <a type="button" href="/about/"
  {{ if eq .RelPermalink "/about/" }}
    class="current"
  {{ end }}
  >About</a>
</nav>