{{- define "partials/add-current.html" -}} {{- $current := "" -}} {{- if . -}}
{{- $current = " current" -}} {{- end -}} {{- return $current -}} {{- end -}}
{{- $current := dict .RelPermalink " current" -}}

<header>
  {{ if .Site.Params.halloween }}
    {{ partial "specials/halloween.html"}}
  {{ end}}
  <article>
    <nav class="site-nav">
      <a href="/" class="site-title">
        <span class="site-title-text">Snail's Shell</span>
      </a>
      <div class="site-title-fill"></div>
      <a href="/posts/" class="nav-link">
        Posts
      </a>
      <details>
        <summary>
          {{- (resources.Get "icons/plus.svg").Content | safeHTML -}}
          More
        </summary>
        <div class="site-title-more">
          <a href="/index.xml" class="nav-link">
            RSS
          </a>
          <a href="/about/" class="nav-link">
            About
          </a>
          <a href="/sheet-music/" class="nav-link">
            Sheet Music
          </a>
          <a href="/stats/" class="nav-link">
            Blog Stats
          </a>
          <a href="/cat_dot/" class="nav-link">
            Moving Red Dot for Cat
          </a>
          <a href="/game_of_life/" class="nav-link">
            Game of Life
          </a>
        </div>
      </details>
    </nav>
  </article>
</header>
