<a href="/"
  {{ if eq .RelPermalink "/" }}
    class="nav-link current"
  {{ else }}
    class="nav-link"
  {{ end }}
>{{ .Site.Title }}</a>
<nav>
  <a href="/posts/"
    {{ if eq .RelPermalink "/posts/" }}
      class="nav-link current"
    {{ else }}
      class="nav-link"
    {{ end }}
  >Posts</a>
  <a href="/status/"
    {{ if eq .RelPermalink "/status/" }}
      class="nav-link current"
    {{ else }}
      class="nav-link"
    {{ end }}
  >Status</a>
  <a href="/about/"
    {{ if eq .RelPermalink "/about/" }}
      class="nav-link current"
    {{ else }}
      class="nav-link"
    {{ end }}
  >About</a>
</nav>