{{- $imageCount := add (int (.page.Scratch.Get "imageCount")) 1 -}}
{{- .page.Scratch.Set "imageCount" $imageCount -}}
{{- $path := .src -}}
{{- $url := .src -}}

{{- if strings.HasPrefix $path "/images" -}}
    {{- $path = add "/static" $path -}}
{{- else if strings.HasPrefix $path "/" -}}
    {{- $path = add "/content" $path -}}
{{- else if strings.HasPrefix $path "./" -}}
    {{- $path = add "/content/" (add .page.File.Dir $path) -}}
    {{- $url = add .page.RelPermalink (substr $url 2) -}}
{{- else -}}
    {{ errorf "External image: %s: %s" .page.File.Path $path }}
{{- end -}}

{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $isSvg := false -}}
{{- $resizedImages := slice }}

{{- if (strings.HasSuffix $path ".svg") -}}
    {{- $isSvg = true -}}
    {{- $svgContent := "" -}}
    {{- $svgContent = os.ReadFile $path -}}

    {{- $svgWidth := index (index (findRESubmatch "width=\"([0-9]+)\"" $svgContent) 0) 1 -}}
    {{- $svgHeight := index (index (findRESubmatch "height=\"([0-9]+)\"" $svgContent) 0) 1 -}}
    
    {{- $viewBox := index (index (findRESubmatch "viewBox=\"([^\"]+)\"" $svgContent 1) 0) 1 -}}
    {{- $viewBoxParts := split $viewBox " " -}}

    {{- $viewBoxWidth := index $viewBoxParts 2 -}}
    {{- $viewBoxHeight := index $viewBoxParts 3 -}}
    {{- $width = default $svgWidth $viewBoxWidth -}}
    {{- $height = default $svgHeight $viewBoxHeight -}}

{{- else -}}
    {{- with (imageConfig $path) -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
    {{- end -}}
    {{- range $size := site.Params.responsiveImageSizes }}
        {{- if gt $width $size -}}
            {{- $new_name := printf "%s-%dw%s" (path.BaseName $path) $size (path.Ext $path) -}}
            {{- $new_path := replace $url (path.Base $path) $new_name -}}
            {{- $resizedImages = $resizedImages | append (printf "%s %dw," $new_path $size) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<img
    src="{{- $url | safeURL -}}" alt="{{- .alt -}}"
    {{- if $isSvg -}}
      {{- with $width }} width="{{- . -}}" {{ end -}}
      {{- with $height }} height="{{- . -}}" {{ end -}}
      style="max-width: 100%; height: auto"
    {{- else -}}
        srcset="
            {{- range $resizedImages -}}{{ . }}{{- end -}}
            {{ $url }} {{ $width }}w"
    {{- end -}}
    {{- with $width }} width="{{- . -}}" {{ end -}}
    {{- with $height }} height="{{- . -}}" {{ end -}}
    {{- if (gt $imageCount 1) -}}
      loading="lazy"
    {{- end -}}
>
