{{- $isLocal := true -}}
{{- $path := .Destination -}}
{{- $url := .Destination -}}

{{- if strings.HasPrefix $path "/images" -}}
    {{- $path = add "/static" $path -}}
    {{- $isLocal = true -}}
{{- else if strings.HasPrefix $path "/" -}}
    {{- $path = add "/content" $path -}}
    {{- $isLocal = true -}}
{{- else if strings.HasPrefix $path "./" -}}
    {{- $path = add "/content/" (add .Page.File.Dir $path) -}}
    {{- $url = add .Page.RelPermalink (substr $url 2) -}}
    {{- $isLocal = true -}}
{{- else -}}
    {{- $isLocal = false -}}
{{- end -}}

{{- return dict "isLocal" $isLocal "path" $path "url" $url -}}