{{- $isLocal := true -}}
{{- $path := .src -}}
{{- $url := .src -}}

{{- if strings.HasPrefix $path "/images" -}}
    {{- $path = add "/static" $path -}}
    {{- $isLocal = true -}}
{{- else if strings.HasPrefix $path "/" -}}
    {{- $path = add "/content" $path -}}
    {{- $isLocal = true -}}
{{- else if strings.HasPrefix $path "./" -}}
    {{- $path = add "/content/" (add .page.File.Dir $path) -}}
    {{- $url = add .page.RelPermalink (substr $url 2) -}}
    {{- $isLocal = true -}}
{{- else -}}
    {{- $isLocal = false -}}
{{- end -}}

{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $isSvg := false -}}
{{- $resizedImages := slice }}

{{- if (strings.HasSuffix $path ".svg") -}}
    {{- $isSvg = true -}}
    {{- $svgContent := "" -}}
    {{- if $isLocal -}}
        {{- $svgContent = os.ReadFile $path -}}
    {{- else -}}
        {{- $svgContent:= (resources.GetRemote $path).Content -}}
    {{- end -}}
    {{- $viewBoxSizes := split (index (split (index (split $svgContent `viewBox=`) 1) `'`) 1) ` ` -}}
    {{- $width = math.Round (float (index $viewBoxSizes 2)) -}}
    {{- $height = math.Round (float (index $viewBoxSizes 3)) -}}
{{- else -}}
    {{- if $isLocal -}}
        {{- with (imageConfig $path) -}}
            {{- $width = .Width -}}
            {{- $height = .Height -}}
        {{- end -}}
        {{- range $size := site.Params.responsiveImageSizes }}
            {{- if gt $width $size -}}
                {{- $new_name := printf "%s-%dw%s" (path.BaseName $path) $size (path.Ext $path) -}}
                {{- $new_path := replace $url (path.Base $path) $new_name -}}
                {{- $resizedImages = $resizedImages | append (printf "%s %dw," $new_path $size) -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- $image := (resources.GetRemote $path) -}}
        {{- $width = $image.Width -}}
        {{- $height = $image.Height -}}
    {{- end -}}
{{- end -}}

<img
    src="{{- $url | safeURL -}}" alt="{{- .alt -}}"
    {{- if $isSvg }} 
        style="width:100%; height: auto;"
    {{ else }}
        srcset="
            {{- range $resizedImages -}}{{ . }}{{- end -}}
            {{ $url }} {{ $width }}w"
    {{ end -}}
    {{- with $width }} width="{{- . -}}" {{ end -}}
    {{- with $height }} height="{{- . -}}" {{ end -}}
    loading="lazy"
>