{{ if gt .Paginator.TotalPages 1 }}
    {{ $current_page := .Paginator.PageNumber }}
    <hr>
    <div class="paginator">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" >« Newer</a>
        {{ else }}
            <br>
        {{ end }}

        {{ range .Paginator.Pagers }}
            {{ if eq .PageNumber $current_page }}
                <span>{{ .PageNumber }}</span>
            {{ else }}
                <a href="{{ .URL }}>">{{ .PageNumber }}</a>
            {{ end }}
        {{ end }}

        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">Older »</a>
        {{ else }}
            <br>
        {{ end }}
    </div>
{{ end }}