{{ if gt .Paginator.TotalPages 1 }}
{{ $current_page := .Paginator.PageNumber }}
<div class="paginator">
    {{ if .Paginator.HasPrev }}
    <a id="newer" href="{{ .Paginator.Prev.URL }}">Newer</a>
    {{ else }}
    <span id="newer">Newer</span>
    {{ end }}

    {{ range .Paginator.Pagers }}
    {{ if eq .PageNumber $current_page }}
    <span>{{ .PageNumber }}</span>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a id="older" href="{{ .Paginator.Next.URL }}">Older</a>
    {{ else }}
    <span id="older">Older</span>
    {{ end }}
</div>
{{ end }}