{{ define "main" }}
<article>
    <h1>404: Page not Found</h1>
    <hr class="title-line" />
    <p>
        In this day and age, there's nothing more precious than a few seconds of silence. 
        Relax, lay back, close your eyes, and pretend that you don't have to browse the internet, just for a little while.
    </p>
    <img width="100%" alt="4 measures of rest" src="/images/404.svg"/>
    <p>
        What do you hear?
        Do you hear silence?
        Or do you hear something beyond the mere quietness?
        Perhaps the sound of your house, the shifting of people around you, a honk on the street, wind jostling the leaves...
    </p>
    <p>
        There's nothing else here. 
        You are more than welcomed to stay here with me and enjoy an endless loop of this music of silence
    </p>
</article>
{{ end }}