{{ define "main" }}
<article>
    <h2>Recent status</h2>
    <div class="status-container">
        {{ range first 2 (where .Site.RegularPages "Section" "status") }}
        <div class="status-card">
            <div class="status-time">
                {{ with .Params.date }}
                <strong>{{ .Format "15:04" }}</strong> {{ .Format "2006-01-02" }} 
                {{ end }}
            </div>
            {{ .Content }}
        </div>
        {{ end }}
    </div>
    <h2>Recent posts</h2>
    <div class="post-list">
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            {{ partial "list_item.html" . }}
        {{ end }}
    </div>
    <h2>Others</h2>
    <ul>
        <li><a href="/sheet-music">Some Sheet music</a></li>
        <li><a href="/cat_dot">Randomly Moving Red Dot for Cat</a></li>
        <li><a href="/game_of_life">Game of life</a></li>
    </ul>
</article>
{{ end }}