{{ define "main" }}
<article>
    {{ .Content }}
    <h2>Recent posts</h2>
    <div class="post-list">
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            {{ partial "list_item.html" . }}
        {{ end }}
    </div>
    <h2>Also on this site:</h2>
    <ul>
        <li><a href="/sheet-music">Some free, cleanly typeset violin sheet music</a></li>
        <li><a href="/cat_dot">Randomly Moving Red Dot for Cat</a></li>
        <li><a href="/game_of_life">Conway's Game of life</a></li>
    </ul>
</article>
{{ end }}
