{{ define "main" }}
<article>
  {{ .Content }}
  <h2>Recent posts</h2>
  <div class="post-list">
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }} {{ partial
    "list_item.html" . }} {{ end }}
  </div>
  <h2>Also on this site:</h2>

  <dl>
    <dt><a href="/sheet-music/">Sheet Music</a></dt>
    <dd>Some free sheet music for violin.</dd>

    <dt><a href="/stats/">Blog Stats</a></dt>

    <dd>Statistics about this blog.</dd>

    <dt><a href="/cat_dot">Cat Dot</a></dt>

    <dd>Randomly Moving Red Dot for Cat.</dd>

    <dt><a href="/game_of_life">Conway's Game of life</a></dt>

    <dd>A very simple, pure javascript simulation of the classic exercise.</dd>
  </dl>
</article>
{{ end }}
